# Local Food Wastage Management System Project

# Step 1: Load data from CSV files

In [1]:
import pandas as pd

In [2]:
providers = pd.read_csv("E:/providers_data.csv")
receivers = pd.read_csv("E:/receivers_data.csv")
food_listings = pd.read_csv("E:/food_listings_data.csv")
claims = pd.read_csv("E:/claims_data.csv")

In [3]:
providers

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [4]:
receivers

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [5]:
food_listings

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner
...,...,...,...,...,...,...,...,...,...
995,996,Fish,15,3/30/2025,467,Catering Service,Phillipsfort,Vegan,Breakfast
996,997,Fish,22,3/18/2025,35,Grocery Store,Andersonmouth,Vegetarian,Breakfast
997,998,Fruits,6,3/22/2025,444,Restaurant,New Billy,Non-Vegetarian,Dinner
998,999,Pasta,15,3/30/2025,702,Supermarket,Lake Mistyton,Non-Vegetarian,Lunch
999,1000,Salad,18,3/19/2025,155,Supermarket,Charlesview,Non-Vegetarian,Dinner

In [6]:
claims

     Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0           1      164          908    Pending    3/5/2025 5:26
1           2      353          391  Cancelled  3/11/2025 10:24
2           3      626          492  Completed   3/21/2025 0:59
3           4       61          933  Cancelled    3/4/2025 9:08
4           5      345          229    Pending  3/14/2025 15:17
..        ...      ...          ...        ...              ...
995       996      855          211  Completed  3/13/2025 19:40
996       997      980          746  Cancelled  3/17/2025 22:04
997       998      832          967  Cancelled  3/13/2025 18:00
998       999      917           90  Completed   3/1/2025 15:31
999      1000      596          950  Cancelled  3/13/2025 12:51

[1000 rows x 5 columns]

# Step 2: Check null values

Check Null Values for Providers Dataset.

In [7]:
providers.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

Check Null Values for Receivers Dataset.

In [8]:
receivers.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

Check Null Values for Food Listings Dataset.

In [9]:
food_listings.isnull().sum()

Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

Check Null values for Claims Dataset.

In [10]:
claims.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

# Step 3: SQL Connection

Creating SQL Connection Using Different Methods

# 1. Using SQLite3

In [11]:
import sqlite3
conn = sqlite3.connect("food_wastage.db")
cursor = conn.cursor()
print("SQLite connection established!")

SQLite connection established!

# 2. Using MySQL Connector

In [12]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\akshay kungiri\appdata\roaming\python\python313\site-packages (9.4.0)

In [13]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",

)
cursor = conn.cursor()
print("MySQL connection established!")

MySQL connection established!

In [14]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_data")
print("MySQL database 'food_data' created successfully!")

MySQL database 'food_data' created successfully!

In [15]:
cursor.execute("use food_data")

# 3. Using PyMySQL

In [16]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="food_data"
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

PyMySQL connection established!

# 4. Using SQLAlchemy

In [17]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:12345678@localhost/food_data")
print("sqlalchemy connection established!")

sqlalchemy connection established!

# Step 4: Creating Tables

# 1. Create a Table in SQLite

Creating tables for Providers Dataset

In [18]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Type TEXT,
        Address TEXT,
        City TEXT,
        Contact TEXT
    )
''')

Creating tables Receivers Dataset

In [19]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Type TEXT,
        City TEXT,
        Contact TEXT
    )
''')

Creating tables Food Listings Dataset

In [20]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS food_listings(
        Food_ID INTEGER PRIMARY KEY,
        Food_Name TEXT,
        Quantity INTEGER,
        Expiry_Date TEXT,
        Provider_ID INTEGER,
        Provider_Type TEXT,
        Location TEXT,
        Food_Type TEXT,
        Meal_Type TEXT
    )
''')

Creating tables Claims Dataset

In [21]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS claims (
        Claim_ID INTEGER PRIMARY KEY,
        Food_ID INTEGER,
        Receiver_ID INTEGER,
        Status TEXT,
        Timestamp TEXT
    )
''')

# 2. Create a Table in MySQL

Creating tables for Providers Dataset

In [22]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

Creating tables Receivers Dataset

In [23]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID	INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

Creating tables Food Listings Dataset

In [24]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS food_listings (
        Food_ID INT PRIMARY KEY,
        Food_Name VARCHAR(255),
        Quantity INT,
        Expiry_Date DATETIME,
        Provider_ID INT,
        Provider_Type VARCHAR(100),
        Location VARCHAR(255),
        Food_Type VARCHAR(100),
        Meal_Type VARCHAR(100)
    )
""")
conn.commit()

Creating tables Claims Dataset

In [25]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS claims (
        Claim_ID INT PRIMARY KEY,
        Food_ID INT,
        Receiver_ID	INT,
        Status VARCHAR(50),
        Timestamp DATETIME        
        )
""")
conn.commit()

# Step 5: Inserting Data Using iterrows()

For Providers Dataset

In [26]:
for index, row in providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (Provider_ID, Name, Type, Address, City, Contact)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            Name = VALUES(Name),
            Type = VALUES(Type),
            Address = VALUES(Address),
            City = VALUES(City),
            Contact = VALUES(Contact)
    """, tuple(row))

For Receivers Dataset

In [27]:
for index, row in receivers.iterrows():
    cursor.execute("""
        INSERT INTO receivers (Receiver_ID, Name, Type, City, Contact)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            Name = VALUES(Name),
            Type = VALUES(Type),
            City = VALUES(City),
            Contact = VALUES(Contact)
    """, tuple(row))

For Food Listings Dataset

In [28]:
food_listings['Expiry_Date'] = pd.to_datetime(food_listings['Expiry_Date']).dt.strftime('%Y-%m-%d')

In [29]:
for index, row in food_listings.iterrows():
    cursor.execute("""
        INSERT INTO food_listings (
            Food_ID, Food_Name, Quantity, Expiry_Date,
            Provider_ID, Provider_Type, Location, Food_Type, Meal_Type
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            Food_Name = VALUES(Food_Name),
            Quantity = VALUES(Quantity),
            Expiry_Date = VALUES(Expiry_Date),
            Provider_ID = VALUES(Provider_ID),
            Provider_Type = VALUES(Provider_Type),
            Location = VALUES(Location),
            Food_Type = VALUES(Food_Type),
            Meal_Type = VALUES(Meal_Type)
    """, tuple(row))

For Claims Dataset

In [30]:
claims['Timestamp'] = pd.to_datetime(claims['Timestamp'])

In [31]:
for index, row in claims.iterrows():
    cursor.execute("""
        INSERT INTO claims (Claim_ID, Food_ID, Receiver_ID, Status, Timestamp)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            Food_ID = VALUES(Food_ID),
            Receiver_ID = VALUES(Receiver_ID),
            Status = VALUES(Status),
            Timestamp = VALUES(Timestamp)
    """, tuple(row))

# Step 6: Running SQL Queries
Now, we will execute 13 SQL queries to analyze the data.

# 1) How many food providers and receivers are there in each city?

In [32]:
query1 = """
SELECT p.City,
       COUNT(DISTINCT p.Provider_ID) AS provider_count,
       COUNT(DISTINCT r.Receiver_ID) AS receiver_count
FROM providers p
LEFT JOIN receivers r ON p.City = r.City
GROUP BY p.City;
"""

df1 = pd.read_sql(query1, engine)  
print(df1)

                 City  provider_count  receiver_count
0            Adambury               1               0
1           Adamsview               1               0
2          Adamsville               1               0
3        Aguirreville               1               0
4    Alexanderchester               1               0
..                ...             ...             ...
958       Wrightville               1               0
959         Yatesside               1               0
960      Youngchester               1               0
961      Zimmermanton               1               0
962    Zimmermanville               1               0

[963 rows x 3 columns]

# 2) Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [33]:
query2 = """
SELECT Provider_Type, SUM(Quantity) AS total_quantity
FROM food_listings
GROUP BY Provider_Type
ORDER BY total_quantity DESC
LIMIT 1;
"""

df2 = pd.read_sql(query2, engine) 
print(df2)

  Provider_Type  total_quantity
0    Restaurant          6923.0

# 3) What is the contact information of food providers in a specific city?

In [34]:
city_name = "Adamsville   ".strip()  # Trim trailing spaces

query3 = """
SELECT Name, Type, Contact
FROM providers
WHERE City = %s;
"""

df3 = pd.read_sql(query3, engine, params=(city_name,))
print(df3)

        Name        Type            Contact
0  Davis Ltd  Restaurant  (112)122-3591x558

# 4) Which receivers have claimed the most food?

In [35]:
query4 = """
SELECT r.Receiver_ID, r.Name, COUNT(c.Food_ID) AS total_claims
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
GROUP BY r.Receiver_ID, r.Name
ORDER BY total_claims DESC
LIMIT 10;
"""

df4 = pd.read_sql(query4, engine)
print(df4)

   Receiver_ID               Name  total_claims
0          276       Scott Hunter             5
1          742       Matthew Webb             5
2          371  William Frederick             5
3          800     Anthony Garcia             5
4          324    Kristine Martin             4
5          144    Jennifer Nelson             4
6          505    Alexandra Owens             4
7          493     Chelsea Powell             4
8           90         Alvin West             4
9          901    Donald Caldwell             4

# 5) What is the total quantity of food available from all providers?

In [36]:
query_total_quantity = """
SELECT SUM(Quantity) AS total_food_quantity
FROM food_listings;
"""

df_total_quantity = pd.read_sql(query_total_quantity, engine)
print("Total Quantity of Food Available:")
print(df_total_quantity, "\n")

Total Quantity of Food Available:
   total_food_quantity
0              25794.0

# 6) Which city has the highest number of food listings?

In [37]:
query_top_city = """
SELECT p.City, COUNT(*) AS listing_count
FROM food_listings f
JOIN providers p ON f.Provider_ID = p.Provider_ID
GROUP BY p.City
ORDER BY listing_count DESC
LIMIT 1;
"""

df_top_city = pd.read_sql(query_top_city, engine)
print("City with Highest Number of Food Listings:")
print(df_top_city, "\n")

City with Highest Number of Food Listings:
        City  listing_count
0  New Carol              6

# 7) What are the most commonly available food types?

In [38]:
query_common_food_types = """
SELECT Food_Type, COUNT(*) AS count
FROM food_listings
GROUP BY Food_Type
ORDER BY count DESC;
"""

df_common_food_types = pd.read_sql(query_common_food_types, engine)
print("Most Commonly Available Food Types:")
print(df_common_food_types)

Most Commonly Available Food Types:
        Food_Type  count
0      Vegetarian    336
1           Vegan    334
2  Non-Vegetarian    330

# 8) How many food claims have been made for each food item?

In [39]:
query_claims_per_food = """
SELECT f.Food_Name, COUNT(c.Claim_ID) AS claim_count
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Food_Name
ORDER BY claim_count DESC;
"""

df_claims_per_food = pd.read_sql(query_claims_per_food, engine)
print("Food Claims per Food Item:")
print(df_claims_per_food, "\n")

Food Claims per Food Item:
    Food_Name  claim_count
0        Rice          122
1        Soup          114
2       Dairy          110
3        Fish          108
4       Salad          106
5     Chicken          102
6       Bread           94
7       Pasta           87
8  Vegetables           86
9      Fruits           71

# 9) Which provider has had the highest number of successful food claims?

In [40]:
query_top_provider_success = """
SELECT p.Name AS provider_name, COUNT(c.Claim_ID) AS successful_claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
JOIN providers p ON f.Provider_ID = p.Provider_ID
WHERE c.Status = 'Completed'
GROUP BY p.Name
ORDER BY successful_claims DESC
LIMIT 1;
"""

df_top_provider_success = pd.read_sql(query_top_provider_success, engine)
print("Provider with Most Successful Claims:")
print(df_top_provider_success, "\n")

Provider with Most Successful Claims:
  provider_name  successful_claims
0   Barry Group                  5

# 10) What percentage of food claims are completed vs. pending vs. canceled?

In [41]:
query_claim_status_percentage = """
SELECT Status,
       ROUND((COUNT(*) / (SELECT COUNT(*) FROM claims)) * 100, 2) AS percentage
FROM claims
GROUP BY Status;
"""

df_claim_status_percentage = pd.read_sql(query_claim_status_percentage, engine)
print("Claims Percentage by Status:")
print(df_claim_status_percentage, "\n")

Claims Percentage by Status:
      Status  percentage
0    Pending        32.5
1  Cancelled        33.6
2  Completed        33.9

# 11) What is the average quantity of food claimed per receiver?

In [42]:
query_avg_quantity_per_receiver = """
SELECT r.Name AS receiver_name, 
       ROUND(AVG(f.Quantity), 2) AS avg_quantity_claimed
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
GROUP BY r.Name
ORDER BY avg_quantity_claimed DESC;
"""

df_avg_quantity_per_receiver = pd.read_sql(query_avg_quantity_per_receiver, engine)
print("Average Quantity of Food Claimed per Receiver:")
print(df_avg_quantity_per_receiver, "\n")

Average Quantity of Food Claimed per Receiver:
          receiver_name  avg_quantity_claimed
0           Nancy Jones                  50.0
1            Lisa Pitts                  50.0
2    Christopher Wright                  50.0
3           Nancy Silva                  50.0
4          Peggy Knight                  50.0
..                  ...                   ...
615       John Reynolds                   2.0
616     Matthew Johnson                   2.0
617      Kenneth Barnes                   2.0
618        Amanda Kline                   1.0
619       Joshua Hooper                   1.0

[620 rows x 2 columns]

# 12) Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

In [43]:
query_top_meal_type = """
SELECT f.Meal_Type, COUNT(c.Claim_ID) AS claim_count
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Meal_Type
ORDER BY claim_count DESC
LIMIT 1;
"""

df_top_meal_type = pd.read_sql(query_top_meal_type, engine)
print("Most Claimed Meal Type:")
print(df_top_meal_type, "\n")

Most Claimed Meal Type:
   Meal_Type  claim_count
0  Breakfast          278

# 13) What is the total quantity of food donated by each provider?

In [36]:
query_total_donated = """
SELECT 
    p.Name AS Provider_Name,
    SUM(f.Quantity) AS total_donated
FROM providers p
JOIN food_listings f ON p.Provider_ID = f.Provider_ID
GROUP BY p.Provider_ID
ORDER BY total_donated DESC;
"""

df_total_donated = pd.read_sql(query_total_donated, engine)
print("Total quantity of food donated by each provider:")
print(df_total_donated)

Total quantity of food donated by each provider:
                       Provider_Name  total_donated
0                        Barry Group          179.0
1         Evans, Wright and Mitchell          158.0
2                        Smith Group          150.0
3                         Nelson LLC          142.0
4                         Ruiz-Oneal          140.0
..                               ...            ...
632                   Gonzales-Moore            1.0
633                  Norris-Townsend            1.0
634                   Brown and Sons            1.0
635                        Mcgee PLC            1.0
636  Martinez, Armstrong and Carroll            1.0

[637 rows x 2 columns]

In [38]:
%%writefile foods_app.py
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine

# -------------------
# DB CONNECTION
# -------------------
DB_URL = "mysql+mysqlconnector://root:12345678@localhost/food_data"
engine = create_engine(DB_URL)

# -------------------
# PAGE CONFIG
# -------------------
st.set_page_config(page_title="Food Wastage Dashboard", layout="wide")
st.markdown(
    """
    <div style="
        background-color: #336699;
        padding: 20px;
        border-radius: 12px;
        border: 2px solid #204060;
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: bold;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.4);">
        🍽️ Food Wastage Management Dashboard
    </div>
    """,
    unsafe_allow_html=True
)

# -------------------
# FILTERS
# -------------------
st.sidebar.header("🔍 Filters")
city = st.sidebar.text_input("City Name").strip()
provider_type = st.sidebar.selectbox("Provider Type", ["", "Restaurant", "Grocery", "NGO", "Others"])
food_type = st.sidebar.selectbox("Food Type", ["", "Vegetarian", "Non-Vegetarian", "Mixed"])
meal_type = st.sidebar.selectbox("Meal Type", ["", "Breakfast", "Lunch", "Dinner", "Snacks"])

# -------------------
# QUERY RUNNER
# -------------------
def run_query(sql, params=None):
    return pd.read_sql(sql, engine, params=params)

st.markdown(
    "<h3 style='text-align: left; color: #336699;'>📋 SQL Queries</h3>",
    unsafe_allow_html=True
)

st.markdown(
    "<h3 style='text-align: left; color: #336699;'>📋 Select a query</h3>",
    unsafe_allow_html=True
)

query_list = [
    "1. Providers & Receivers by City",
    "2. Top Food Provider by Quantity",
    "3. Food Providers Contact Info in a City",
    "4. Top Receivers by Number of Claims",
    "5. Total Quantity of Food Available",
    "6. City with Highest Number of Food Listings",
    "7. Most Commonly Available Food Types",
    "8. Food Claims per Food Item",
    "9. Provider with Highest Successful Claims",
    "10. Percentage of Claims by Status",
    "11. Top 10 Most Frequently Donated Food Items",
    "12. Most Claimed Meal Type",
    "13. Total Quantity of Food Donated by Each Provider",
    "14. Food Wastage by City",
    "15. Monthly Donation Trends"
]

selected_query = st.selectbox("Select a query to run:", query_list)

st.markdown(
    "<h3 style='text-align: left; color: #336699;'>📋 Query Result</h3>",
    unsafe_allow_html=True
)
       
# -------------------
# Queries handling
# -------------------
if selected_query == "1. Providers & Receivers by City":   # ✅ first must be if
    df1 = run_query("""
        SELECT p.City,
               COUNT(DISTINCT p.Provider_ID) AS provider_count,
               COUNT(DISTINCT r.Receiver_ID) AS receiver_count
        FROM providers p
        LEFT JOIN receivers r ON p.City = r.City
        GROUP BY p.City;
    """)
    st.subheader("1️⃣ Providers & Receivers by City")
    st.dataframe(df1)

elif selected_query == "2. Top Food Provider by Quantity":   # ✅ now elif works
    df2 = run_query("""
        SELECT p.Type, SUM(f.Quantity) AS Total_Quantity
        FROM food_listings f
        JOIN providers p ON f.Provider_ID = p.Provider_ID
        GROUP BY p.Type
        ORDER BY Total_Quantity DESC
        LIMIT 1
    """)
    st.subheader("2️⃣ Top Food Provider by Quantity")
    st.dataframe(df2)

elif selected_query == "3. Food Providers Contact Info in a City":
    # 🔹 Get distinct cities from providers
    city_list = run_query("SELECT DISTINCT City FROM providers;")["City"].tolist()

    # 🔹 Dropdown for city selection
    city = st.selectbox("Select City:", city_list)
    
    # 🔹 Query providers by selected city
    df3 = run_query(f"""
        SELECT Name, Contact, City
        FROM providers
        WHERE City = '{city}';
    """)
    
    st.subheader(f"3️⃣ Food Providers Contact Info in {city}")
    
    if df3.empty:
        st.warning(f"No providers found in {city}")
    else:
        st.dataframe(df3)
    
elif selected_query == "4. Top Receivers by Number of Claims":
    df4 = run_query("""
        SELECT r.Name, COUNT(c.Claim_ID) AS Claim_Count
        FROM receivers r
        JOIN claims c ON r.Receiver_ID = c.Receiver_ID
        GROUP BY r.Name
        ORDER BY Claim_Count DESC
        LIMIT 5;
    """)
    st.subheader("4️⃣ Top Receivers by Number of Claims")
    st.dataframe(df4)

elif selected_query == "5. Total Quantity of Food Available":
    df5 = run_query("""
        SELECT SUM(Quantity) AS Total_Food_Quantity
        FROM food_listings;
    """)
    st.subheader("5️⃣ Total Quantity of Food Available")
    st.dataframe(df5)

elif selected_query == "6. City with Highest Number of Food Listings":
    df6 = run_query("""
        SELECT Location AS City, COUNT(*) AS Listings
        FROM food_listings
        GROUP BY Location
        ORDER BY Listings DESC
        LIMIT 1
    """)
    st.subheader("6️⃣ City with Highest Number of Food Listings")
    st.dataframe(df6)

elif selected_query == "7. Most Commonly Available Food Types":
    df7 = run_query("""
        SELECT Food_Type, COUNT(*) AS Count
        FROM food_listings
        GROUP BY Food_Type
        ORDER BY Count DESC;
    """)
    st.subheader("7️⃣ Most Commonly Available Food Types")
    st.dataframe(df7)

elif selected_query == "8. Food Claims per Food Item":
    df8 = run_query("""
        SELECT f.Food_Name, COUNT(c.Claim_ID) AS Claim_Count
        FROM food_listings f
        LEFT JOIN claims c ON f.Food_ID = c.Food_ID
        GROUP BY f.Food_Name;
    """)
    st.subheader("8️⃣ Food Claims per Food Item")
    st.dataframe(df8)

elif selected_query == "9. Provider with Highest Successful Claims":
    df9 = run_query("""
    SELECT f.Provider_ID, p.Name, COUNT(c.Claim_ID) AS Successful_Claims
    FROM food_listings f
    JOIN providers p ON f.Provider_ID = p.Provider_ID
    JOIN claims c ON f.Food_ID = c.Food_ID
    WHERE c.Status = 'Completed'
    GROUP BY f.Provider_ID
    ORDER BY Successful_Claims DESC
    LIMIT 1
""")
    st.subheader("9️⃣ Provider with Highest Successful Claims")
    st.dataframe(df9)

elif selected_query == "10. Percentage of Claims by Status":
    query_claim_status_percentage = """
        SELECT Status,
               ROUND((COUNT(*) / (SELECT COUNT(*) FROM claims)) * 100, 2) AS Percentage
        FROM claims
        GROUP BY Status;
    """
    df10 = pd.read_sql(query_claim_status_percentage, engine)
    
    st.subheader("🔟 Percentage of Claims by Status")
    st.dataframe(df10)
     
elif selected_query == "11. Top 10 Most Frequently Donated Food Items":
    df11 = run_query("""
        SELECT Food_Name, COUNT(*) AS Donation_Count
        FROM food_listings
        GROUP BY Food_Name
        ORDER BY Donation_Count DESC
        LIMIT 10;
    """)
    st.subheader("1️⃣1️⃣ Top 10 Most Frequently Donated Food Items")
    st.dataframe(df11)

elif selected_query == "12. Most Claimed Meal Type":
    df12 = run_query("""
        SELECT Meal_Type, COUNT(*) AS Claim_Count
        FROM food_listings f
        JOIN claims c ON f.Food_ID = c.Food_ID
        GROUP BY Meal_Type
        ORDER BY Claim_Count DESC
        LIMIT 1;
    """)
    st.subheader("1️⃣2️⃣ Most Claimed Meal Type")
    st.dataframe(df12)

elif selected_query == "13. Total Quantity of Food Donated by Each Provider":
    df13 = run_query("""
        SELECT p.Name, SUM(f.Quantity) AS Total_Donated
        FROM providers p
        JOIN food_listings f ON p.Provider_ID = f.Provider_ID
        GROUP BY p.Name;
    """)
    st.subheader("1️⃣3️⃣ Total Quantity of Food Donated by Each Provider")
    st.dataframe(df13)

elif selected_query == "14. Food Wastage by City":
    # Query for all cities
    df14 = run_query("""
        SELECT Location AS City, SUM(Quantity) AS Total_Food
        FROM food_listings
        GROUP BY Location
        ORDER BY Total_Food DESC
    """)
    
    st.subheader("1️⃣4️⃣ Food Wastage by City")
    st.dataframe(df14)

elif selected_query == "15. Monthly Donation Trends":
    df15 = run_query("""
        SELECT DATE_FORMAT(Expiry_Date, '%Y-%m') AS Month,
               SUM(Quantity) AS Total_Donations
        FROM food_listings
        GROUP BY Month
        ORDER BY Month;
    """)
    st.subheader("1️⃣5️⃣ Monthly Donation Trends")
    st.dataframe(df15)

else:
    st.warning("⚠️ Please select a query from the sidebar.")

# -------------------
# Contact Details Section
# -------------------
st.title("📞 Contact Details")
st.subheader("📞 Contact Details of Providers for Direct Coordination")

contact_city = st.text_input("Enter City Name for Contact Search").strip()
if contact_city:
    df_contact = run_query("""
        SELECT Name, Provider_Type, Contact
        FROM providers
        WHERE City = %s
    """, (contact_city,))
    if not df_contact.empty:
        st.dataframe(df_contact)
    else:
        st.warning(f"No providers found in {contact_city}.")

Overwriting foods_app.py

In [ ]:
!streamlit run foods_app.py